
<!DOCTYPE html>
<html lang="en">
    <head>
       
        <style>
            h1{
                color: rgb(0, 0, 0);
                font-family: Tahoma;
                font-weight: 200;
                
                
                text-align: center;
            }
            .box1{
                width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
            }
      
            .button {
                
                
             
                
                
                padding: 15px;
                border: 0;
                width: 100%;
                text-align: center;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            
            .member {
              background-color: #38406d;
              color: white;
             
             
            }
            
            .member:hover {
              background-color: #646ea3;
              color: white;
            }
            .participant {
              background-color: #38406d;
              color: white;
              
            }
            
            .participant:hover {
              background-color: #646ea3;
              color: white;
            }
            .competition {
              background-color: #38406d;
              color: white;
              
            }
            
            .competition:hover {
              background-color: #646ea3;
              color: white;
            }
            
        
            
            </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>
    <body>
        <div class="box1">
        <h1>Admin</h1>
        
        
            <a href='/admin/member'> 
                <button class = "button member"> 
                    Members
                </button> 
            </a> 
            <br>

            <a href='/admin/ParticipatnsTeam'> 
                <button class = "button participant"> 
                    Participant
                </button> 
            </a> 
            <br>
            <a href='/admin/competition'> 
                <button class = "button competition"> 
                    Competition
                </button> 
            </a> 
        </div>
 
    </body>
</html>