<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Procom</title>
    <meta name="description" content="Procom events announcements.">
</head>

<body>
    <header>
        <div class="logo-container">
            <img style="width: 10%; height: auto; border-radius: 20%;" src="/images/procom.png" alt="logo">
            <div class="logo">
                <h1>Procom</h1>
            </div>
        </div>
        <nav>
            <ul class="nav-links">
                <li> <a class="nav-link" href="#">Home</a></li>
                <li> <a class="nav-link" href="#">About</a></li>
                <li> <a class="nav-link" href="#">Contact Us</a></li>
            </ul>
        </nav>
        <div class="login-form">
            <a class="login" href="/login">Log In</a>
            <a class="register" href="/register">Sign Up</a>
        </div>
    </header>
    <main>
        <section>
            <div class="intro">
                <p style="margin-top: 5px; margin-bottom: 5px; font-size:22px">
                    Procom.net is an annual flagship event for different types of project ideas and competitions organized by FAST Nuces Karachi campus.
                </p>
                <h2>Catogories:</h2>
                <p>
                    <ul style="margin-top: 5px; margin-bottom: 5px; font-size: 20px; padding-left: 20px;">
                        <li style="margin-top: 5px;">Project Ideas and Presentations</li>
                        <li style="margin-top: 5px;">Coding Competitions</li>
                        <li style="margin-top: 5px;">Gaming Competitions</li>
                        <ul style="margin-top: 5px; margin-bottom: 5px; font-size: 15px; padding-left: 20px;">
                            <li style="margin-top: 5px;">Pubg</li>
                            <li style="margin-top: 5px;">CS Go</li>
                            <li style="margin-top: 5px;">Call of Duty</li>
                            <li style="margin-top: 5px;">Minecraft</li>
                        </ul>
                        <li style="margin-top: 5px;">Speeches Competitions</li>
                        <ul style="margin-top: 5px; margin-bottom: 5px; font-size: 15px; padding-left: 20px;">
                            <li style="margin-top: 5px;">Debate</li>
                            <li style="margin-top: 5px;">Entertaining</li>
                            <li style="margin-top: 5px;">Motivational</li>
                            <li style="margin-top: 5px;">Informative</li>
                        </ul>
                        <li style="margin-top: 5px;">Art and Painting Competitions</li>
                    </ul>
                </p>
            </div>
        </section>
    </main>
    <div class="intro-video">
        <h1 style="color: rgb(99, 80, 80); margin-bottom: 5px; margin-top: 5px; margin-left: 70px;">What is Procom all about?</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iPYkQd26fpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <footer>
        <div>
            <ul class="socio-links">
                <li>
                    <a class="socio-link" href="https://www.facebook.com/procom.net.pk/" target="separate"><img style="width: 2%; height: auto; border-radius: 20%;" src="/images/face.png" alt="Facebook"></a>
                </li>
                <li>
                    <a class="socio-link" href="https://twitter.com/procomnet?lang=en" target="separate"><img style="width: 2%; height: auto; border-radius: 20%;" src="/images/twitt.png" alt="Twitter"></a>
                </li>
                <li>
                    <a class="socio-link" href="https://pk.linkedin.com/in/procom-net-pk" target="separate"><img style="width: 2%; height: auto; border-radius: 20%;" src="/images/linkdin.png" alt="LinkdIn"></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>